
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

body button:nth-child(n+2) {
  margin-left: 50px;
}

button {
  width: 100px;
  height: 100px;
  margin: auto 0;
}

p {
  font-size: 1.4rem;
  color: rgb(72, 122, 216);
}